TUMBLR:
  URL: YOUR_TUMBLR_URL
  CONSUMER_KEY: TUMBLR_CONSUMER_KEY
  CONSUMER_SECRET: TUMBLR_CONSUMER_SECRET_KEY
  OAUTH_TOKEN: TUMBLR_OAUTH_TOKEN
  OAUTH_TOKEN_SECRET: TUMBLR_OAUTH_TOKEN_SECRET

PATH: LOCAL_MEMO_PATH